/************************/
/* periscope2 basic CSS */
/************************/
aside#sidebarId, aside#controlbarId {
    position: absolute;
    z-index: 0!important;
}

/* Application Header (busy indicator - app title - app menu) */

/* header flex container properties*/
/* To customize the container or any of its three elements refer to
*  https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for more
*  information*/
.app_header_container {
    display: flex;
}

/* app info modal*/
a#app_info {
    color: #212529!important;
}

/* Application Header (busy indicator - app title - app menu) */

/* header flex container properties*/
/* To customize the container or any of its three elements refer to
*  https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for more
*  information*/
.app_header_container {
    display: inline-flex;
    width: 100%;
}

/* app info modal*/
a#app_info {
    color: #212529!important;
}

/* app title container*/
div#app_header {
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: x-large;
    justify-content: center;
    width: 100%;
}

/* Busy Indicator */
.periscope-busy-ind {
    height: 100%;
    display: inline-flex;
    align-items: center;
    /* change it in case that indicator is in center or right*/
    justify-content: flex-start;
    width: 0%;
    align-self: center;
}

/* header menu*/
div#header_menu{

}

ul.dropdown-menu {
    width: max-content;
}

/* End of Application Header CSS rules */

.hidden {
    display: none !important;
}


/* Other */
.help-block {
    padding: 12px 15px 0 12px;
}


.wrapper {
    background-color: #ecf0f5 !important;
}


/* --- MODULES --- */

/* Download Button */
.periscope-download-btn { }
.periscope-download-choice {
    display        : flex;
    justify-content: left;
    margin-left    : 10%;
}

/*downloadfile multi dropdown file*/
.dropdown-menu.show {
    min-width: 100%;
}

/* LogViewer table */
table.shiny-table {
    min-width: 100%;
}

/* Downloadable Table */
.periscope-downloadable-table { }
.periscope-downloadable-table-header > div {
    float: right;
}

.periscope-downloadable-table-button {
    float: left;
}

/* Downloadable React Table */
.periscope-downloadable-react-table-button {
    display: inline-flex;
}

/* Downloadable Plot */
.periscope-downloadable-plot { }
.periscope-downloadable-plot-button {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: -39px;
    float: right;
}

/* Modal related CSS rules */
/* Modal Title*/
h2#swal2-title {
    text-align: left!important;
    font-weight: bold!important;
    margin: 0!important;
    font-size: large!important;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

button.swal2-close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFFFFE;
    opacity: .2;
    padding-top: 15px;
    padding-right: 15px;
    box-shadow: none !important;
}

button.swal2-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

button.swal2-close:focus {
    box-shadow: none !important;
}

div#swal2-html-container {
    font-size: 14px;
    text-align: inherit;
    color: black;
    padding: 15px;
}

/* End of modal related CSS rules */

/* downloadableReactTable Tooltip */
.tooltip[data-tooltip-for="react-download-button"] .tooltip-inner {
  background-color: #ffffff !important;
  color: #212529 !important;
  border: 1px solid #d1d5db !important;
}

.tooltip[data-tooltip-for="react-download-button"].bs-tooltip-top .arrow::before {
  border-top-color: #d1d5db !important;
}

.tooltip[data-tooltip-for="react-download-button"].bs-tooltip-top .arrow::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
/* END of periscope2 basic CSS*/
