/***********************/
/* periscope2 basic CSS */
/***********************/
/*Application2 title*/
a#app_info {
    color: #212529;
}

/*periscope busy indcator */
.periscope-busy-ind {

}

.hidden {
    display: none !important;
}


/* Other */
.help-block {
    padding: 12px 15px 0 12px;
}


.wrapper {
    background-color: #ecf0f5 !important;
}


/* --- MODULES --- */

/* Download Button */
.periscope-download-btn { }
.periscope-download-choice { }

/* Downloadable Table */
.periscope-downloadable-table { }
.periscope-downloadable-table-header > div {
    float: right;
}

.periscope-downloadable-table-button {
    float: left;
}

/* Downloadable Plot */
.periscope-downloadable-plot { }
.periscope-downloadable-plot-button {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: -39px;
    float: right;
}
/* END of periscope basic CSS*/

a.btn.btn-secondary.btn-lg {
    color: #FFFFFF!important;
}


a.btn.btn-secondary.btn-lg:hover {
    background-color: #D02FCD !important;
    border-color    : #A69F9F !important;
}


a.btn.btn-secondary.btn-lg:focus {
    background-color: #D02FCD !important;
    border-color    : #FFFFFE !important;
    outline         : #BE2BBB solid 1px !important;
    outline-offset  : 1px !important;
}
