# Notes:
# - Docker containers with R, etc. provided by rocker.  See <https://hub.docker.com/r/rocker/verse>.
# - Builds attempted for 4.1.3, and the *latest* R edition supported by rocker.

version: 2.1

workflows:

  version: 2
  Prepare-All-R-Editions:
    jobs:
      - Build-for-r4_1_3
      - Build-for-rLATEST

jobs:

  Build-for-r4_1_3:
    docker:
      - image: rocker/verse:4.1.3

    steps:
      - checkout
      - run:
          name: Review checkout
          command: ls -la

      - run:
          name: Install Linux dependencies
          command: |
            sudo apt-get update -y
            sudo apt-get install -yq texlive-fonts-recommended
            sudo apt-get install -yq texlive-fonts-extra

      - run:
          name: Install R dependencies
          command: |
            R -e 'install.packages("bs4Dash", repos = "https://cran.rstudio.com/")'
            R -e 'install.packages(c("shinyWidgets", "yaml", "DT", "writexl", "fresh"))'
            R -e 'install.packages(c("canvasXpress", "waiter", "shinyjs", "openxlsx", "spelling", "shinyalert"))'

      - run:
          name: Session information and installed package versions
          command: |
            Rscript -e 'sessionInfo()'
            Rscript -e 'installed.packages()[, c("Package", "Version")]'
            Rscript -e 'rmarkdown::pandoc_version()'

      - run:
          name: Build package
          command: R CMD build .

      - run:
          name: Check package
          command: |
            # Install suggested packages
            R -e 'install.packages("png")'
            # Perform package check
            R CMD check *tar.gz


  Build-for-rLATEST:
    docker:
      - image: rocker/verse:latest

    steps:
      - checkout
      - run:
          name: Review checkout
          command: ls -la

      - run:
          name: Install Linux dependencies
          command: |
            sudo apt-get update -y
            sudo apt-get install -yq texlive-fonts-recommended
            sudo apt-get install -yq texlive-fonts-extra

      - run:
          name: Install R dependencies
          command: |
            R -e 'install.packages(c("bs4Dash", "shinyWidgets", "yaml", "DT", "writexl", "fresh"))'
            R -e 'install.packages(c("canvasXpress", "waiter", "shinyjs", "openxlsx", "spelling", "shinyalert"))'
            R -e 'install.packages("covr")'

      - run:
          name: Session information and installed package versions
          command: |
            Rscript -e 'sessionInfo()'
            Rscript -e 'installed.packages()[, c("Package", "Version")]'
            Rscript -e 'rmarkdown::pandoc_version()'

      - run:
          name: Build package
          command: R CMD build .

      - run:
          name: Check coverage
          command: Rscript -e 'library(covr); codecov(quiet = FALSE)'

      - run:
          name: Check package
          command: |
            # Install suggested packages
            R -e 'install.packages("png")'
            # Perform package check
            R CMD check *tar.gz

