/************************/
/* periscope2 basic CSS */
/************************/
/* Application Title */
a#app_info {
    color: #212529!important;
}

/* Busy Indicator */
.periscope-busy-ind {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.hidden {
    display: none !important;
}


/* Other */
.help-block {
    padding: 12px 15px 0 12px;
}


.wrapper {
    background-color: #ecf0f5 !important;
}


/* --- MODULES --- */

/* Download Button */
.periscope-download-btn { }
.periscope-download-choice {
    display        : flex;
    justify-content: left;
    margin-left    : 10%;
}

/* downloadfile multi dropdown file */
.dropdown-menu.show {
    min-width: 100%;
}

/* LogViewer table */
table.shiny-table {
    min-width: 100%;
}

/* Downloadable Table */
.periscope-downloadable-table { }
.periscope-downloadable-table-header > div {
    float: right;
}

.periscope-downloadable-table-button {
    float: left;
}

/* Downloadable React Table */
.periscope-downloadable-react-table-button {
    display: inline-flex;
}

/* Downloadable Plot */
.periscope-downloadable-plot { }
.periscope-downloadable-plot-button {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: -39px;
    float: right;
}


/* Links styling */
/* If we want to use the custom peach (sidebar) or purple (body) link colors we
   need add the class "text-link" to a UI element containing the link */
a:not(.nav-link) {
    color: #007bff!important;
}

a:hover:not(.nav-link) {
    color          : #0056B3 !important;
    text-decoration: underline!important;
}

a:focus:not(.nav-link) {
    color: #003875!important;
}
/* End of links styling */

/* -------Buttons Styles-------- */
/* btn-primary button */
.btn-primary {
    color: #1F2D3D!important;
}

.btn-primary:hover {
    background-color: #D6BBE6 !important;
    color           : #1F2D3D!important;
}
.btn-primary:focus {
    background-color: #D6BBE6 !important;
    color           : #1F2D3D!important;
}

/* btn-info button */
.btn-info {
    color: #1F2D3D!important;
}

.btn-info:hover {
    background-color: #6EC8D9 !important;
    color: #1F2D3D!important;
}
.btn-info:focus {
    background-color: #6EC8D9 !important;
    color: #1F2D3D!important;
}

/* downloadableReactTable Tooltip */
.tooltip[data-tooltip-for="react-download-button"] .tooltip-inner {
  background-color: #ffffff !important;
  color: #212529 !important;
  border: 1px solid #d1d5db !important;
}

.tooltip[data-tooltip-for="react-download-button"].bs-tooltip-top .arrow::before {
  border-top-color: #d1d5db !important;
}

.tooltip[data-tooltip-for="react-download-button"].bs-tooltip-top .arrow::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
/* END of periscope2 basic CSS*/

/* ========================================================================== */

/* --- APP-SPECIFIC CUSTOM CSS ---
